:root {
    --primary-color: black;
    --primary-main-color: rgba(229, 9, 20, 1);
    --primary-main-color-2: rgba(229, 9, 20, 1);
    --secondary-color: rgba(48, 48, 48, 1);
    --panel-color: white;
    --footer-text-color: rgba(117, 117, 117, 1);
    --footer-text-color-2: rgba(117, 117, 117, 1);
    --body-text-color: rgba(255, 255, 255, 1);
    --body-text-color-2: rgba(255, 255, 255, 1);
    --text-font-weight: 250;
    --break-line-color: rgba(34, 34, 34, 1);
    --signUp-bg-color: rgba(0, 0, 0, 0.75);
    --signUp-input-color: rgba(51, 51, 51, 1);
    --signUp-input-text-color: rgba(140, 140, 140, 1);
    --highlight-color: rgba(0, 113, 235, 1);
    --navbar-bg-color: #141414;
}

#bodyy {
    background-color: var(--navbar-bg-color);
    /* background-color: red; */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

hr {
    background-color: var(--break-line-color);
    height: 5px;
    border: none;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: var(--body-text-color);
}

a:hover {
    color: var(--primary-color);
}

.light-theme {
    --primary-color: rgba(255, 255, 255, 1);
    --primary-main-color-2: rgba(48, 48, 48, 1);
    --break-line-color: rgba(229, 9, 20, 1);
    --body-text-color: black;
    --body-text-color-2: white;
    --text-font-weight: 400;
    --secondary-color: rgba(229, 9, 20, 1);


    --footer-text-color-2: rgba(255, 255, 255, 1);
    --footer-text-color: rgba(34, 34, 34, 1);
}

/* Profile Page Design Start*/
.profile-flex {
    width: 80%;
    text-align: center;
    margin: 20vh auto;
    color: var(--body-text-color);
}

.profile-flex-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-flex-items p {
    color: var(--footer-text-color);
    flex-grow: 1;
}

.add-ic {
    object-fit: cover;
    height: 200px;
}

.profile-flex button {
    font-weight: var(--text-font-weight);
    color: var(--footer-text-color);
    padding: 8px 10px;
    appearance: none;
    background: none;
    outline: 1px var(--footer-text-color);

}

/* Responsive Design for Profile page */
@media screen and (max-width: 1085px) {
    .profile-flex-inner {
        display: flex;
        flex-direction: column;
    }

    .profile-flex-items,
    .profile-flex-items img {
        width: 90%;
        object-fit: cover;
    }
}

/* Profile Page Design End*/


/* Home Page Design Start */
.iccon-hp {
    width: 25px;
    cursor: pointer;
}

.header,
.header-left,
.header-right,
.header-left-inner {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    top: 0;
    z-index: 2;
    /* position: sticky; */
    padding: 30px 60px;
    height: 15px;
    color: var(--body-text-color);
    background-color: var(--navbar-bg-color);
}

.header-left {
    width: 650px;
    justify-content: space-between;
    font-weight: var(--text-font-weight);
}

.header-left-inner p {
    margin-right: 20px;
    cursor: pointer;
}

.header-left-inner p:hover {
    color: var(--primary-main-color);
    transition: .4s ease;
}

.header-right {
    justify-content: space-between;
    width: 250px;
}

.header-right img:hover,
.header-right p:hover,
.header-right div:hover {
    cursor: pointer;

}

.hr-dropdown {
    margin-bottom: 25%;
}

.home- {
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}

.home {
    padding: 0 60px;

}

.home-bg {
    position: absolute;
    height: 107vh;
    width: 100vw;
    /* object-fit: cover; */
}

.home-hero {
    color: var(--body-text-color);
    /* height: 425px; */
    text-align: left;
    position: relative;
    margin-top: 20vh;
}

.home-hero h2 {
    font-size: 70px;
    letter-spacing: .5%;
    font-weight: var(--text-font-weight);
    width: 320px;
    text-align: center;
    line-height: .7;
    margin-bottom: 10px;
}

.first-span {
    font-weight: 700;
}

.sec-span {
    display: flex;
    height: 30px;
    align-items: center;
}

.sec-span p {
    font-size: 25px;
    margin-left: 8px;
}

.sec-p {
    font-weight: 300;
    line-height: 0;
    width: 650px;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 10px;
}

.home-hero-end {
    display: flex;
}

.home-btn-1 {
    background-color: var(--body-text-color);
    border: 0;
    margin-right: 10px;
    padding: 3px 15px;
    border-radius: 2px;
    width: 120px;
    cursor: pointer;
}

.play-ic {
    width: 14px;
    margin-right: 10px;
    margin-left: 7px;
}

.home-btn-1:hover {
    background-color: var(--primary-main-color);
    transition: .4s ease;
    color: var(--body-text-color);
}

.home-btn-2 span {
    /* width: 15px; */
}

.home-btn-2 {
    background-color: rgba(255, 255, 255, 0.3);
    border: 0;
    padding: 5px 15px;
    border-radius: 2px;
    opacity: .8;
    width: 200px;
    cursor: pointer;
}

.home-btn-2:hover {
    background-color: var(--break-line-color);
    transition: .4s ease;
    color: var(--body-text-color);
}

.info-ic {
    /* width: 20px; */
    /* margin-top: 5px; */
}

.home-hero-flex {
    position: relative;
    /* overflow: hidden; */
}


.home-hero-flex-inner {
    /* display: flex; */
    transform: translateX(0);
    width: 200%;
    /* position: absolute; */
}

.hero-slides {
    display: inline-block;
    /* overflow: hidden; */
    position: relative;
    /* height: 150px; */
    /* width: 200px; */
}

.hero-slides img {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    margin-right: 5px;
    position: absolute;
    transition: all .5s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}

.hero-slides img:hover {
    transform: scale(1.2);
    margin: 0 30px;
}

.home-hero-flex-inner img {
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
    margin-right: 5px;
    position: relative;
    transition: all .7s ease-in-out;
    border-radius: 5px;
}

.home-hero-flex-inner img:hover {
    transform: scale(1.2);
    margin: 0 30px;
    /* opacity: .7; */
}

.home-hero-arrow-left,
.home-hero-arrow-right {
    font-size: 50px;
    color: var(--primary-main-color);
    position: absolute;
    top: 100px;
    cursor: pointer;
    transition: .4s ease;
}

.home-hero-arrow-left:hover,
.home-hero-arrow-right:hover {
    color: var(--body-text-color);
}

.home-hero-arrow-right {
    right: 0;
    /* opacity: .5; */
}

.home-hero-arrow-left {
    left: 5px;
}

.arrow-btn {
    background: none;
    outline: none;
    border: none;
}

.fifth-slide-inner {
    display: flex;
    position: relative;
}

.hero-fifth-slides {
    /* display: flex; */
    /* flex-direction: column; */
}

/* Home Page Design  End*/






/* Landing Page Design Starts */
.intro- {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.intro {
    padding: 20px 35px 0 35px;
}

.intro-bg {
    position: absolute;
    opacity: .5;
    object-fit: cover;
}

.intro-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;


    z-index: 1;
    /* position: sticky; */
}

.intro-header-right {
    display: flex;
}

#iccon {
    width: 25px;
    margin-top: 12px;
    cursor: pointer;
}



.intro-header select,
.intro-header-right button {
    margin: 8px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    height: 80%;
}

.intro-header-right button {
    background-color: var(--primary-main-color);
    color: var(--body-text-color);

}

.intro-header-right button:hover {
    background-color: var(--body-text-color);
    color: var(--primary-main-color);
    box-shadow: var(--primary-main-color)2px 8px 24px;
}

.intro-hero {
    color: var(--body-text-color);
    height: 425px;
    text-align: center;
    position: relative;
    margin: 25vh auto;
}

.intro-hero h2 {
    font-size: 47px;
    letter-spacing: .5%;
    font-weight: 700;
    margin: 74px auto 10px auto;
    width: 600px;
    line-height: 1;
}

.intro-hero p {
    font-weight: var(--text-font-weight);
}

.intro-hero-text {
    font-size: 25px;
}

.intro-hero-end {
    display: flex;
    justify-content: center;
}

.intro-hero-end input {
    padding: 10px 22px 10px 8px;
    width: 30vw;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.intro-hero-end button {
    padding: 11px 16px;
    background-color: var(--primary-main-color);
    color: var(--body-text-color);
    cursor: pointer;
    border: none;
    font-weight: 350;
    width: 10vw;
    font-family: 'Poppins', sans-serif;

}

.intro-hero-end span {
    margin-left: 8px;
}

.intro-hero-end button:hover {
    background-color: var(--body-text-color);
    color: var(--primary-main-color);
    font-weight: normal;
}

.sec-comp,
.third-comp,
.fourth-comp,
.fifth-comp {
    color: var(--body-text-color);
    display: flex;
    flex-wrap: wrap;
    font-weight: var(--text-font-weight);
    margin: 2vh 0 5vh 0;
    align-items: center;
    justify-content: center;
}

.third-comp {
    margin: 10vh 0 5vh 0;
}

.sec-comp div,
.third-comp div {
    width: 400px;
}


.sec-comp-text p {
    width: 300px;
}

.sec-comp-rel,
.third-comp-rel,
.fourth-comp-rel {
    position: absolute;
    overflow: hidden;
    width: 300px;
}

.sec-comp-rel {
    margin-top: 9.5vh;
    margin-left: 8vh;
}

.sec-comp-abs,
.third-comp-abs,
.fourth-comp-abs {
    position: relative;
    width: 390px;
}

.third-comp-rel {
    width: 400px;
}

.third-comp-abs {
    margin-top: 24vh;
    /* width: 300px; */
}

.third-comp-text,
.fourth-comp-text {
    width: 300px;
    margin-left: 5vw;
}

.fourth-comp-text {
    width: 350px;
    margin-right: 6vw;
}

.fourth-comp-rel {
    width: 250px;
    margin-top: 4vh;
    margin-left: 11vh;
}

.fifth-comp div {
    width: 400px;
}

.fifth-comp-img img {
    width: 99%;
}

.fifth-comp-text {
    margin-left: 5vw;
}

/* accordion start */








.panel {
    padding: 0 18px;
    background-color: var(--panel-color);
    max-height: 0;
    text-align: left;
    font-weight: normal;
    color: var(--secondary-color);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* accordion  end*/

.FAQ {
    color: var(--body-text-color);
    width: 500px;
    margin: 5vh auto;
    text-align: center;
}

.FAQ-list {
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--body-text-color-2);
    font-weight: var(--text-font-weight);
    background-color: var(--secondary-color);
    padding-right: 1vw;
    padding-left: 1vw;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
}

.FAQ-list:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.FAQ-list:hover {
    background-color: var(--body-text-color);
    color: var(--primary-main-color);
    font-weight: normal;
}

.active {
    background-color: var(--primary-main-color-2);
    font-weight: normal;
}

.active:after {
    content: "\2212";
}

.FAQ-end {
    display: flex;
    justify-content: center;
}

.FAQ-end input {
    padding: 10px 22px 10px 8px;
    width: 30vw;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.FAQ-end button {
    padding: 11px 15px;
    background-color: var(--primary-main-color);
    color: var(--body-text-color);
    cursor: pointer;
    border: none;
    font-weight: 350;
    width: 10vw;
    font-family: 'Poppins', sans-serif;
}


.FAQ-end button:hover {
    background-color: var(--body-text-color);
    color: var(--primary-main-color);
    font-weight: normal;
    font-size: 13px;
}

.FAQ-end span {
    margin-left: .5vw;
}

.landing-footer {
    color: var(--footer-text-color);
    font-weight: var(--text-font-weight);
    justify-content: center;
    /* text-align: center; */
    width: 900px;
    margin: auto;
}

.footer-div-container {
    display: flex;
    justify-content: space-between;
}

/* .burger {
    display: none;
    visibility: hidden;
} */


.burg {
    /* display: none; */
    visibility: hidden;
}

.burg {
    display: block;
    width: 45px;
    cursor: pointer;
    height: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    position: relative;
}

.burg .bar,
.burg::after,
.burg::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    margin: 6px 0px;
    background-color: var(--primary-main-color);
    /* position: absolute; */
    transition: .4s;
}

.burg.is-active::before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.burg.is-active::after {
    transform: rotate(45deg) translate(-8px, -4px);
}

.burg.is-active .bar {
    opacity: 0;
}

/* .burger {
    width: 2rem;
    height: 2rem;
    margin: 2vh auto;
    position: fixed;
    right: 10vw;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    flex-flow: column nowrap;
}

.burger div {
    width: 1.8rem;
    height: 0.2rem;
    margin-bottom: 5px;
    background-color: var(--primary-main-color);
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
}
 */

/* Responsive for landing page */
@media screen and (max-width: 1085px) {

    .intro-hero-end input,
    .FAQ-end input {
        width: 28vw;
    }

    .intro-hero-end button,
    .FAQ-end button {
        width: 15vw;
    }
}

@media screen and (max-width:933px) {
    .landing-footer {
        width: 75%;
    }
}

@media screen and (max-width:815px) {

    .intro-hero-end button,
    .FAQ-end button {
        width: 20vw;
    }

    .intro-hero-end input,
    .FAQ-end input {
        width: 40vw;
    }

    .intro-hero-end input,
    .intro-hero-end button,
    .FAQ-end input,
    .FAQ-end button {
        font-size: 12px;
        padding: 8px 16px;
    }
}

@media screen and (max-width:784px) {
    .footer-div-container {
        flex-direction: column;
    }

    .intro-hero h2 {
        width: 100%;
    }


}

@media screen and (max-width:544px) {
    .FAQ {
        width: 72%;
    }

    .intro-hero-end button,
    .FAQ-end button {
        width: 25vw;
    }

    .intro-hero-end input,
    .FAQ-end input {
        width: 40vw;
    }

    .intro-hero h2 {
        font-size: 40px;
    }

    .intro-header-right {
        display: none;
    }

    .burger {
        visibility: visible;
    }

    .burg {
        visibility: visible;
    }



}

@media screen and (max-width:447px) {
    .FAQ {
        width: 85%;
    }

    .intro-hero-end button,
    .FAQ-end button {
        width: 40vw;
    }

    .intro-hero-end input,
    .FAQ-end input {
        width: 35vw;
    }
}

@media screen and (max-width:414px) {

    .sec-comp {
        margin: 8vh;
    }

    .intro-hero {
        height: 300px;
        margin: 0vh;
    }

    .intro-hero h2 {
        font-size: 30px;
    }

    .intro-hero-text {
        font-size: 20px;
    }

    .intro-hero p {
        font-size: 15px;
    }

    .net-logo {
        position: fixed;
    }


    .intro-header {
        background-color: var(--secondary-color) !important;
    }


}

/* Landing Page Design Ends */

/* Sign Up Design Start */
.signUp- {
    position: relative;
    overflow: hidden;
    /* height: 100vh; */
}

.signUp-bg {
    position: absolute;
    object-fit: cover;
}

.signUp {
    padding: 20px 20px 0 20px;
}

.signUp-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
}

.signUp-form h1,
.signUp-info div,
.signUp-info a {
    color: var(--body-text-color-2);
}

.signUp-form {
    color: var(--body-text-color);
    background: var(--signUp-bg-color);
    margin: auto;
    width: 255px;
    height: 420px;
    position: relative;
    padding: 20px 60px;
}

.signUp-form input,
.signUp-form button {
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 0px;
    background-color: var(--signUp-input-color);
    color: var(--signUp-input-text-color);
    font-family: 'Poppins', sans-serif;
}

.signUp-btn {
    background-color: var(--primary-main-color) !important;
    color: var(--body-text-color) !important;
    font-weight: 700;
}

.signUp-input {
    display: flex;
    flex-direction: column;
}

.signUp-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--footer-text-color);
}

.signUp-info,
.signUp-info-2 {
    font-weight: 400;
}

.signUp-info-2 {
    display: flex;
    flex-direction: column;
    font-weight: var(--text-font-weight);
    margin-top: 2vh;
}

.signUp-info-2 div,
.signUp-info-2 p {
    margin: 0px 0px 2px 0px;
    font-size: 12px;
    color: var(--signUp-input-text-color);
}

.signUp-info-2-inner {
    display: flex;
    align-items: center;
}

.signUp-info-2-inner img {
    margin-right: 10px;
}

.signUp-info-2 span {
    color: var(--body-text-color);
    font-weight: normal;
}

.signUp-info-end {
    font-size: 80px;
}

.signUp-info-2 a {
    color: var(--highlight-color);
}

.signUp-footer {
    position: relative;
}

.signUp-footer {
    background: var(--signUp-bg-color);
    padding: 20px 200px 80px 200px;
    margin-top: 50px;
}

.signUp-footer footer {
    color: var(--footer-text-color-2);
    font-weight: var(--text-font-weight);
    justify-content: center;
    /* text-align: center; */
}

/* Responsive Design for Signup page */
@media screen and (max-width:852px) {
    .signUp-footer {
        padding: 10px 0 0 0;
    }

    .signUp-footer footer {
        /* padding: 0; */
        width: 80%;
        margin: auto;
    }
}

/* Sign Up Design  End*/